.calculator {
  padding: 10px;
}

.settings {
  clear: both;
  margin: 40px;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background: gray;
  display: none;
}

#result {
 font-size: 18pt;
 font-weight: bold;
}

body { 
  background: #85bb65; 
}

div {
  padding-bottom: 5px;
}

fieldset { 
  font-size: large;
  margin-bottom: 10px;
}

input { 
  font-family: serif; 
  font-size: large;
}

label { 
  padding-left: 10px; 
}